PORT=3000
NODE_ENV="development"
MONGO_URI="mongodb://127.0.0.1:27017/syncdocs"
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""
